* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-blue);
}

.main-container {
  max-width: 33rem;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.main-img {
  object-fit: cover;
  width: 100%;
  height: 20rem;
  border-radius: 10px 10px 0 0;
}

.second-container {
  padding: 40px 30px 15px 30px;
  position: relative;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.article-container {
}

.article-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.article-text {
  color: var(--very-dark-grayish-blue);
  margin-bottom: 30px;
}

.author-container {
}

.author-profile-container {
  display: flex;
  align-items: center;
}

.author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.name-container {
}

.author-name {
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
}

.date {
  color: var(--grayish-blue);
}

.share-icon__container {
  margin-left: auto;
  background-color: white;
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
}

#share-icon {
  scale: 80%;
}

#social-icons-container {
  width: 100%;
  background-color: var(--very-dark-grayish-blue);
  height: 65px;
  align-items: center;
  position: absolute;
  top: 100%;
  transform: translate(0, -100%);
  left: 0;
  padding: 0 30px;
  border-radius: 0 0 10px 10px;
  gap: 10px;
  display: none;
}

.share-text {
  text-transform: uppercase;
  color: var(--desaturated-dark-blue);
  letter-spacing: 7px;
}

.share-icon__bottom {
  filter: brightness(0) invert(1);
}

.share-icon__bottom-container {
  background-color: var(--desaturated-dark-blue);
}

.social-icon {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .main-container {
    max-width: 70rem;
    display: flex;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
  }

  .main-img {
    object-fit: cover;
    width: 80%;
    height: auto;
    border-radius: 10px 0 0 10px;
  }

  #social-icons-container {
    width: 250px;
    background-color: var(--very-dark-grayish-blue);
    height: 50px;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translate(0, 0);
    left: 55%;
    padding: 0 40px;
    border-radius: 10px 10px 10px 10px;
    gap: 10px;
    display: none;
  }

  .share-icon__bottom {
    filter: brightness(0) invert(1);
    display: none;
  }

  .show-div {
    display: flex !important;
  }
}
